.container {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 55rem;
  margin: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  h1 {
    font-style: italic;
    align-self: flex-start;
  }
}