.container {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 55rem;
  margin: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  h1 {
    font-style: italic;
    align-self: flex-start;
  }

  .button {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		height: 2.75rem;
		width: 100%;
		color: white;
		margin-right: auto;
		margin-left: auto;
		margin-top: 1rem;
		font-size: 1.2rem;
		background-color: #06f;
		border: 1px solid #06f;
		border-radius: 0.2rem;
		&:hover {
			font-size: 1.2rem;
			cursor: pointer;
			background-color: transparent;
		}
	}
}